.keyboard {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 650px;
    height: 300px;
	margin: 0 auto;
	padding-top: 50px;
  }

  .white {
    width: 50px;
    height: 200px;
    background-color: white;
    float: left;
    border: 1px solid black;
    box-sizing: border-box;
    position: relative;
}
.black {
    width: 30px;
    height: 120px;
    background-color: black;
    float: left;
    margin-left: -15px;
    position: absolute;
    top: 0;
    z-index: 1;
}
  /* 검은 건반을 하얀 건반 위에 놓기 */
  .white-key:nth-child(3),
  .white-key:nth-child(7),
  .white-key:nth-child(10),
  .white-key:nth-child(14),
  .white-key:nth-child(17),
  .white-key:nth-child(21) {
    margin-right: -15px;
  }

  /* 맨 처음 하얀 건반에 대한 왼쪽 마진 설정 */
  .white-key:first-child {
    margin-left: 0;
  }