.card-custom-height {
  height: 170%;
  display: flex;
  flex-direction: column;
}

.card-custom-height .card-body {

  flex-grow: 1;
  padding-top: 50px; /* Adjust this value to move the text further down */
}

.card-img-custom-height {
  height: 170%;
  object-fit: cover;
}
.card-body {
display: flex;
flex-direction: column;
justify-content: flex-end; /* This will push the content to the bottom */
}